{% extends 'main.html' %}
{% load static %}

{% block content %}
<link href="{% static '/css/Contact.css' %}" rel="stylesheet" type="text/css" />
<div class="container-fluid">
<div class="timeline">
		<div class="timeline-row">
			<div class="timeline-time">
				Contact Us
			</div>
			<div class="timeline-content">
				<i class="icon-attachment"><i style="color: white" class="fas fa-address-book"></i></i>
				<h4>Contact Us</h4>
				<p>At Used Car Showroom Ltd, we stock a range of used cars and vans at great prices.If for any reason you can't find what you're looking for in stock, please contact us and we will be happy to help you find the right car or van.</p>
				
				<div class="">
					<i style="color: white" class="fas fa-phone-alt"></i>
					<span class="badge badge-pill">07765 244907</span>
					<span class="badge badge-pill">0121 5724898</span>
				</div>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				Where we are ?
			</div>
			<div class="timeline-content">
				<i class="icon-code"><i class="fas fa-map-marker-alt" style="color: white"></i></i>
				<h4>Used Car Showroom Ltd</h4>
				<p>
					Unit 13 CORNWALL ROAD INDUSTRIAL ESTATE, Smethwick, West Midlands, B66 2JT
				</p>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				Find Us<small>Get direction to our showroom</small>
			</div>
			<div class="map-responsive mr-4">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.885745965689!2d-1.9586771847561901!3d52.49930774551582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487097db7ad8f479%3A0x73897c614ccb003e!2sUsed%20Car%20Showroom%20Ltd!5e0!3m2!1sen!2s!4v1626097892987!5m2!1sen!2s" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				Get in touch<small>Online or call us on</small>
			</div>
			<div class="timeline-content">
				<i class="icon-directions"><i style="color: white" class="fas fa-phone-alt"></i></i>
				<h4>07765 244907 | 0121 5724898</h4>
				<a class="btn btn-warning"><i class="fas fa-envelope mr-2"></i> Send us email</a>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				Opening Times<small>week days</small>
			</div>
			<div class="timeline-content">
				<i class="icon-change_history"><i class="far fa-calendar-alt" style="color: white"></i></i>
				<table class="table" style="color: white">
                  <tbody>
                    
                    <tr>
                      <td>Monday</td>
                      <td>Appointment Only</td>
                    </tr>
                    <tr>
                      <td>Tuesday</td>
                      <td>Appointment Only</td>
                    </tr>
                    <tr>
                      <td>Wednesday</td>
                      <td>Appointment Only</td>
                    </tr>
                    <tr>
                      <td>Thursday</td>
                      <td>Appointment Only</td>
                    </tr>
                    <tr>
                      <td>Friday</td>
                      <td>Appointment Only</td>
                    </tr>
                    <tr>
                      <td>Saturday</td>
                      <td>Appointment Only</td>
                    </tr>
                    <tr>
                      <td>Sunday</td>
                      <td>Closed</td>
                    </tr>
                  </tbody>
                </table>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-content">
				<p class="m-0">Loading...</p>
			</div>
		</div>

	</div>
</div>

{% endblock content %}